// Define global color variables
$primary-main-color: #003293;
$primary-light-color: #C9DBFF;
$secondary-main-color: #667891;
$secondary-light-color: #B7C0CD;
$background-main-color: #EDEFF2;
$background-light-color: #FFFFFF;
$warning-success-color: #3DA359;
$warning-warning-color: #F47B0B;
$warning-error-color: #D71313;